.cash-flow-item-true {
    background-color: green;
}

.cash-flow-item-false {
    background-color: red;
}

.cash-flow-item {
    color: white;
    font-weight: bold;
    display: flex;
    padding: 2px;
    border-bottom: 1px solid white;
    align-items: center;
}

.cash-flow-item-options {
    position: relative;
    background-color: white;
    width: 100%;
    border: 1px solid black;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showOptions {
    height: 250px;
}

.hideOptions {
    height: 0;
}