<div class="cash-flow-item cash-flow-item-{{itemData.value>0}}">

    <button *ngIf="optionsHeight==='hideOptions'" (click)="edit()" mat-icon-button>
    <mat-icon aria-label="edit">edit</mat-icon>
  </button>

    <button *ngIf="optionsHeight==='showOptions'" (click)="hideOptions()" mat-icon-button>
    <mat-icon aria-label="done">done</mat-icon>
  </button>

    <span> {{itemData.name }} </span> &nbsp;&nbsp;

    <span> {{itemData.value | currency}}</span>

    <button (click)="remove()" mat-icon-button>
    <mat-icon aria-label="delete">delete</mat-icon>
  </button>

</div>

<div class="cash-flow-item-options {{optionsHeight}}">

    <div>

        <mat-form-field class="example-full-width">
            <input matInput (change)="sendUpdate()" placeholder="name" [(ngModel)]="itemData.name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput (change)="sendUpdate()" placeholder="value" type="number" [(ngModel)]="itemData.value">
        </mat-form-field>

        <mat-slide-toggle (change)="sendUpdate()" [(ngModel)]="itemData.recurring"> Recurring ?</mat-slide-toggle>

        <!-- <div *ngIf="itemData.recurring">
            <mat-form-field>
                <mat-select (selectionChange)="sendUpdate($event)" [(ngModel)]="itemData.recurConfig.interval" placeholder="Recurring">
                    <mat-option [value]="'month'">

                        month

                    </mat-option>

                    <mat-option [value]="'week'">

                        week

                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div> -->

        <br>

        <mat-form-field>
            <input (dateChange)="itemDateChange($event)" matInput [matDatepicker]="picker1" placeholder="start date" [formControl]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle (change)="sendUpdate()" [(ngModel)]="itemData.showEndDate"> set End ?</mat-slide-toggle>
        <br>
        <br>
        <mat-form-field *ngIf="itemData.showEndDate">
            <input (dateChange)="itemDateChange($event)" matInput [matDatepicker]="picker2" placeholder="end date" [formControl]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

    </div>
    <div>

        <button (click)="hideOptions()" mat-button>close</button>

    </div>

</div>