.app-component {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.app-side-bar {
    position: relative;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.app-side-bar .main-menu-container {
    padding: 10px;
}

.app-time-container {
    position: relative;
    height: 100%;
    flex: 1;
    overflow: hidden;
    min-width: 300px;
    height: 100%;
}

.main-menu-container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}