<div class="app-component">

    <div class="app-side-bar">

        <div class="main-menu-container">
            <img class="logo" src="/assets/images/budgflow_logo.png" alt=""> &nbsp;
            <span>budgFLow by </span> &nbsp;

            <a class="jistu-font-logo" href="https://jitsu.ninja">

              jitsu.ninja
            </a>

        </div>

        <add-cash-flow class="add-cash-flow-container"></add-cash-flow>

    </div>

    <div class="app-time-container">

        <time-view class="time-view-component">

        </time-view>

    </div>

</div>