.time-view-component {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.month-slice {
    position: relative;
    flex: 1;
    border-left: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-slice-info {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-value {
    position: relative;
    margin: 0 10px;
}

.time-display {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.report-scroll {
    position: relative;
    flex: 1;
    border-top: 1px solid;
    background-color: lightgrey;
    width: 100%;
}

.main-menu-container mat-form-field {
    position: relative;
    margin: 5px;
}

.time-display-scoll {
    position: relative;
    display: flex;
    overflow: scroll;
}

.main-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}