<div class="main-menu-container">

    <div>
        <mat-form-field>
            <input matInput (dateChange)="itemDateChange($event)" [matDatepicker]="timeViewStartDatePicker" placeholder="start" [formControl]="timeViewStartDate">
            <mat-datepicker-toggle matSuffix [for]="timeViewStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #timeViewStartDatePicker></mat-datepicker>
        </mat-form-field>
        <span>     </span>
        <mat-form-field>
            <input matInput (dateChange)="itemDateChange($event)" [matDatepicker]="timeViewEndDatePicker" placeholder="end" [formControl]="timeViewEndDate">
            <mat-datepicker-toggle matSuffix [for]="timeViewEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #timeViewEndDatePicker></mat-datepicker>
        </mat-form-field>

    </div>

    <button (click)="showSignInDialog()" mat-raised-button>

      Log In

      </button>
</div>

<div class="time-display">

    <div class="time-display-scoll">
        <div *ngFor="let month of months" class="month-slice">

            <p>{{month.shortName}} {{month.year}}</p>

            <div class="report-scroll">
                <div *ngFor="let report of month.reports" class="month-slice-info">
                    <span class="report-value">   <b>{{report.name}}</b>  </span>
                    <br>
                    <span class="report-value">{{report.value | currency }}</span>
                </div>

            </div>

        </div>

    </div>

</div>