<mat-card>
    <mat-card-header>
        <mat-card-title>{{data.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span>{{data.message}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="close()" color="warn">Close</button>
    </mat-card-actions>
</mat-card>