<div class="add-cash-flow-top-bar">


</div>

<div class="add-cash-flow-input-container">
    <button (click)="addCashFlow()" mat-button>add</button>

    <input [(ngModel)]="newCashFlow.value" class="add-cash-flow-input" (keyup)="inputKeyEvent($event)" type="number">

</div>
<div class="add-cash-flow-scroll">

    <cash-flow-item (onItemEvent)="itemEvent($event,i)" *ngFor="let item of cashFlowItems let i = index" [itemData]="item">
    </cash-flow-item>


    <div *ngIf="cashFlowItems.length==0" class="quick-intsructions">

        <p>Start by adding a "cash flow"</p>
        <p>For money you get, add a <span style="color:green"> positive amount </span></p>

        <p>For money you give out, enter a<span style="color:red"> negative amount </span></p>

    </div>

</div>