.add-cash-flow-container {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.add-cash-flow-top-bar {}

.add-cash-flow-input-container {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center
}

.add-cash-flow-input {
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    position: relative;
}

.add-cash-flow-scroll {
    position: relative;
    overflow: scroll;
    flex: 1;
}

.option-top-row {
    position: relative;
    display: flex;
    width: 100%;
}

.quick-intsructions {
    position: relative;
    color: blue;
    padding: 20px;
}