<mat-card>
    <mat-card-header>
        <mat-card-title>Sign Up /Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="password">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="go()" color="primary">Go</button>
        <button mat-button (click)="close()" color="warn">Close</button>
    </mat-card-actions>
</mat-card>