/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
}

.logo {
    position: relative;
    height: 50px;
}

input,
button,
span,
html,
body,
div {
    font-family: 'BioRhyme Expanded', helvetica !important;
    font-size: 15px !important;
}

.jistu-font-logo {
    font-family: 'Gloria Hallelujah', cursive !important;
}


/*
    font-family: 'BioRhyme Expanded', helvetica !important;
    font-size: 15px !important;

        font-family: 'Josefin Sans', helvetica !important;
    font-size: 18px !important;
*/